body {font-family: "Arial";}
h1 {color: pink;}
h2 {color: blue;}
.mascot {color: brown;}
/*.line-separator{
height:1px;
background:#717171;
border-bottom:1px solid #313030;
}*/
.line-separator
{
border-bottom-style: dotted;
border-bottom-color: blue;
}
